%h3= "Log In"

- form_tag session_path do
  .row.form-input
    = label_tag 'login'
    = text_field_tag 'login', @login

  .row.form-input
    = label_tag 'password'
    = password_field_tag 'password', nil

  .row.form-input
    = submit_tag 'Log in', :id => "login-button", :class => "wide-label-submit"
