#scorecard
  %h3= "Scorecard"
  - unless @scorecard.errors.empty?
    .formError= "There were problems with your scorecard:"
  - form_for @scorecard do |f|
    = hidden_field_tag "scorecard[course_id]", course.id
    = hidden_field_tag "scorecard[user_id]", current_user.id
    #scores.row.form-input
      .score-labels
        %p= "Distance"
        %p= "Hole"
        %p= "Par"
        %p= "Score"
      - course.holes.each do |hole|
        - f.fields_for :scores, Score.new do |score_fields|
          .score-fields
            = score_fields.hidden_field :distance_in_ft, :value => hole.distance_in_ft
            = score_fields.text_field :distance_in_ft, :value => hole.distance_in_ft, :disabled => true, :class => "score"
            %br
            = score_fields.hidden_field :number, :value => hole.number
            = score_fields.text_field :number, :value => hole.number, :disabled => true, :class => "score"
            %br
            = score_fields.hidden_field :par, :value => hole.par
            = score_fields.text_field :par, :value => hole.par, :disabled => true, :class => "score"
            %br
            = score_fields.text_field :shots, :class => "score shots"
      .score-totals
        %p= course.holes.sum('distance_in_ft')
        %p= "&nbsp;"
        %p= course.holes.sum('par')
        %p.shot_total= 0
    = error_message_on @scorecard, :base
    .row.form-input
      = f.label :played_at
      = f.datetime_select :played_at, :use_short_month => true, :default => Time.now.localtime
    .row.form-input
      = f.label :hours_to_play
      = f.text_field :hours_to_play, :class => "integer"
    .row.form-input
      = f.label :notes, "Round Notes"
      = f.text_area :notes, :rows => 5
    .row.form-input
      = f.label :weather
      = f.text_field :temperature, :class => "integer", :value => "Temp"
      = f.select :weather, Scorecard::WEATHER_CONDITIONS
    = error_message_on @scorecard, :temperature, :prepend_text => "Temperature "
    .row.form-input
      = f.label :ground_conditions
      = f.select :ground_conditions, Scorecard::GROUND_CONDITIONS
    .row.form-input
      = f.submit "Submit Round"