- @users.each do |user|
  .friend-possibility
    = render :partial => "shared/user_blurb", :locals => {:user => user}
    .button
      - if user.id != current_user.id
        - if current_user.friends_with?(user)
          %span= link_to "Friend", user_path(user)
        - else
          - form_for Friendship.new, :url => user_friendships_path(:user_id => current_user.id) do |f|
            = hidden_field_tag "friendship[requester_id]", current_user.id
            = hidden_field_tag "friendship[approver_id]", user.id
            = f.submit "Add as Friend"   
      - else
        %span= link_to "This is you", user_path(user)