%h3= "Course Information"
.course
  .row
    .label= "Course Name:"
    %div= link_to course.name, course_path(course)
  .row
    .label= "Location:"
    %div= course.address
  .row
    .label= "Difficulty Rating:"
    %div= course.difficulty
  .row
    .label= "Tree Interference:"
    %div= course.tree_interference
  .row
    .label= "Hole Type:"
    %div= course.hole_type && course.hole_type.titleize
  .row
    .label= "Tee Type:"
    %div= course.tee_type && course.tee_type.titleize