.opening_blurb
  %p#welcome= "Welcome to Frisbee Golf Tracker"
  %p#tagline= "The newest way to track you and your friends' progress in frisbee golf online."
  %ul
    %li= "Browse our list of courses, find one nearby"
    %li= "Record your scores online"
    %li= "See where you rank among your friends and the world"
    %li= "Review and rate courses"
    %li= "Challenge your friends to competitions"
#home_courses
  %h2= "Courses"
  = render :partial => "course", :collection => @courses
  %p.missing-info
    %span.question= "Don't see your local course or there is wrong/missing information?" 
    = "I personally don't have the opportunity to get information for all courses. But if you want to see your local courses on Frisbee Golf Tracker, obtain all the hole and location information for the course and send it to <a href='mailto:turneraking@gmail.com'>turneraking@gmail.com</a>. I'll verify the information and get it in as soon as I can."
