.course
  .row.model-content
    %div= course.name
  .row.model-content
    %div= course.address
  .row.model-content
    = link_to "Edit", edit_admin_course_path(course)
    = "&nbsp;|&nbsp;"
    = link_to "Delete", admin_course_path(course), :method => :delete