%html
  %head
    %title="Frisbee Golf"
    = javascript_include_tag "jquery-1.3.2.js"
    = javascript_include_tag "application.js"
    = stylesheet_link_tag "application"
  %body
    #content
      = render :partial => "/users/user_bar"
      = yield